*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right, rgb(169, 89, 155), rgb(184, 144, 181),rgb(196, 115, 150));
}
h2{
    position: absolute;
    top: 30px;
    left: 43%;
    font-family: "Creepster", system-ui;
    font-size: 33px;
    
    color: rgb(108, 38, 173);
}
#letterimage{
    background-color: transparent;
    width: 38%;
    height: 500px;
    margin-top: 80px;
    animation: enc infinite;
    animation-duration: 2s;
    
}
@keyframes enc {
    0%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(-20px);
    }
    100%{
        transform: translatey(0);
    }
    
}
#shadow{
    background-color: rgb(88, 80, 80);
    width: 36%;
    height: 30px;
    border-radius: 50%;
    animation: sha infinite;
    animation-delay: 1s;
    animation-duration: 2s;
}
@keyframes sha {
    0%{
        transform: translatey(0);
    }
    50%{
        transform: translatey(-20px);
        width: 34%;
    }
    100%{
        transform: translatey(0);
    }
    
}
#letter-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
    display: none;
}
#letter{
    width: 40vw;
    height: 90vh;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 5vh;
    right: 30vw;
    border-radius: 20px;
    background-color: white;
    z-index: 2;
    font-family: "New Rocker", system-ui;
    font-size: 17px;
    border-style: solid;
    display: none;
}
#cancel{
    background-color: rgb(213, 29, 29);
    height: 35px;
    width: 50px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 20px;
    border-radius: 3px;
}
#cancel:hover{
    background-color: rgb(239, 73, 73);
    cursor: pointer;
}
button{
    font-family: "New Rocker", system-ui;
    height: 50px;
    width: 8%;
    margin-top: 30px;
    margin-left: 46%;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    background-color: rgb(79, 79, 239);
    border: 2px solid rgb(104, 104, 183);
}
#firstpage{
    display: block;
}
#secondpage{
   
    display: none;

}
#secondbox{
    height: 360px;
    width: 50%;
    margin-top: 8%;
    background-color: #E6E6;
    padding: 30px;
    border-radius: 20px;
    font-family: "Tektur", sans-serif;
    box-sizing: border-box;
    border-style: groove;
}
#image{
    display: flex;
    

}
.imag{
    height: 250px;
    width: 220px;
    margin: 10px;
    border-style: solid;
    border-radius: 5px;
}
#thirdpage{
    display: none;
}
#thirdbox{
    height: 550px;
    width: 700px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(37, 79, 196);
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(40, 37, 37);
}
#gif1{
    width: 400px;
    height: 250px;
    border-radius: 50px;
    
}
#yes{
    height: 60px;
    width: 80px;
    position: absolute;
    left: -30px;
    border-style: groove;
    border: 1.2px solid rgb(53, 46, 46);
}
#no{
    height: 60px;
    width: 80px;
    position: absolute;
    left: 70px;
    border: 1.2px solid rgb(53, 46, 46);

}
h3{
    font-family: "Pirata One", system-ui;
    background-color: wheat;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    top: 97px;
    left: 150px;
    display: none;
}
#fourthpage{
    height: 520px;
    width: 600px;
    background-color: rgb(197, 107, 194);
    display: none;
    margin-left: 30%;
    margin-top: 120px;
    box-sizing: border-box;
    padding: 20px;

    border-radius: 20px;
    border: 1px solid rgb(51, 47, 47);
}
p{
    font-family: "New Rocker", system-ui;
    font-size: 20px;
}
#typing{
    font-size: 25px;
    font-family: "Geo", sans-serif;
    font-weight: 100;
}